@mixin condensed {
    font-family: Open Sans Condensed;
    font-weight: bold;
}

@mixin header-footer-padding {
    padding: 0px 0;
}

@mixin uppercase {
    text-transform: uppercase;
}

@mixin slider-img {
    background-size: cover;
    background-position: bottom;
    padding: 28%;
}
